# URL publica del proyecto Supabase de NordArrel.
NEXT_PUBLIC_SUPABASE_URL=

# Clave anon publica. Esta se puede usar en la web, con RLS bien puesto.
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Usaremos public para hacerlo simple y visible en Supabase.
NEXT_PUBLIC_SUPABASE_SCHEMA=public
